.banner-section-bgContainer{
    background-image: url("https://www.shutterstock.com/shutterstock/photos/2405789997/display_1500/stock-photo-stylish-table-setting-with-cutlery-and-floral-decor-on-pink-background-flat-lay-space-for-text-2405789997.jpg");
    height: 100vh;
    background-size: cover;
    align-items: center;
}
.heading{
    color:whitesmoke;
    font-family: 'Times New Roman';
    font-size: 70px;
    font-weight: bold;
}
.fire-fork-logo{
    width: 90px;
    height: 70px;
}
.nav-section{
    color: black;
}
.nav-item{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.banner-heading{
    color: antiquewhite;
    font-size: 50px;
    font-family: 'Times New Roman';
    font-weight: bold;
}
.heading{
    color: white;
    font-family: sans-serif;
    font-size: 27px;
}
.banner-para{
    color: azure;
    font-family: sans-serif;
    font-size: 22px;
}
.banner-button{
    font-family: Georgia,;
    color:darkslategrey;
    font-size: 20px;
    font-weight:700;
    background-color:lightgreen;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 9px;
    border: none;
    text-decoration: none;
}
.explore-menu{
    background-color: rgb(226, 243, 255);
}
.menu-heading{
    font-size: 34px;
    font-family: Verdana;
    font-weight: 500;
}
.menu-item-card{
    background-color: white;
    box-shadow: 10px;
    width: 40vh;
    border-radius: 16px;
}
.menu-card-image{
    border-radius: 16px;
}
.menu-card-title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.menu-card-link{
    color: cornflowerblue;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.item-bg-container{
    background-image: radial-gradient(#f2f2f0, #f2d688, #b0a891);
    align-items: center;
}
.item-fire-fork-logo{
    height: 20vh;
    width: 20vh;
    border-radius: 15px;
}
.item-caption{
    font-size: 24px;
    font-weight:400;
}
.price{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    padding-right: 50px;
}
.add-to-cart-btn{
    background-color: rgb(151, 148, 150);
    color:rgb(17, 18, 17);
    border-radius: 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 7px;
    margin-left: 50px;
}
.view-items{
    background-color: green;
    width: 50vh;
    padding: 10px;
}
