.bgcontainer{
            background-image: url("https://images.unsplash.com/photo-1528735000313-039ec3a473b0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2071");
            height: 100vh;
            background-size: cover;
            background-position: center;;
            align-items: center;
        }
        .card{
            text-align: center;
            background-color:blanchedalmond;
            border-radius: 15px;  
            padding: 30px;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 60px;
            box-shadow: 30px;
        }
        .login{
            color: dodgerblue;
            font-family:sans-serif;
            font-size: 34px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .input{
            border-radius: 10px;
            margin-bottom: 12px;
            height:40px;
            
        }
        .button{
            font-family: Georgia,;
            color: white;
            font-size: 20px;
            background-color:dodgerblue;
            border-radius: 10px;
            margin-left: 40px;
            margin-right: 40px;
            padding: 7px;
            border: none;
        }
        .registerbutton{
            font-family: Georgia,;
            color: white;
            font-size: 20px;
            background-color: #05bd37;
            padding: 7px;
            border-radius: 10px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 15px;
            border: none;
        }
        .error{
            color: crimson;
            font-size: 16px;
            font-weight: bold;
        }
        .paragraph{
            color:black;
            font-size: 16px;
            font-weight: 100px;
            padding-top: 10px;
        }
        .registerbgcontainer{
            background-color: #bdf796;
            height: 100vh;
            background-size: cover;
            align-items: center;
        }
        .register-card{
            text-align: center;
            background-color:rgb(246, 245, 244);
            border-radius: 15px;
            width: 500px;
            padding:20px;
            box-shadow: 30px;
        }
        .heading{
            font-size: 35px;
            font-family: 'Times New Roman';
            font-weight: bold;
            color: rgb(49, 49, 243);
            padding-bottom: 8px;
        }
        .name{
            font-family: sans-serif;
            font-size: 17px;
            padding-bottom: 3px;

        }
        .card-button{
            font-family: Georgia;
            color: white;
            font-size: 18px;
            background-color:dodgerblue;
            border-radius: 10px;
            border: none;
            padding: 10px;
            margin-top: 10px;
            margin-right: 120px;
        }
        .back-button{
            font-family: Georgia;
            color: white;
            font-size: 18px;
            background-color:orange;
            border-radius: 10px;
            border: none;
            margin-left: 140px;
            margin-top: 10px;
        }
        .success{
            color: #05bd37;
            font-size: 18px;
            font-weight: bold;
            padding: 10px;
        }
        
