{% extends "base.html" %}

{% block content %}
<div class="item-bg-container d-flex flex-column">
    <div class="p-4">
        <img src="https://as2.ftcdn.net/jpg/02/82/76/39/1000_F_282763972_xKMyYads8XYGamLEhNGHQOAKT9Eyo9Dc.jpg"
             class="item-fire-fork-logo" />
    </div>

    <p class="item-caption">Because you searched for "Desserts"</p>

    <div class="d-flex flex-row flex-wrap justify-content-center">
        <form action="{{ url_for('add_to_cart') }}" method="post"
              class="shadow menu-item-card p-4 m-3 text-center">
            <img class="menu-card-image mb-3 w-100"
                 src="https://www.shutterstock.com/shutterstock/photos/2536754249/display_1500/stock-photo-gulab-jamun-a-beloved-dessert-in-indian-and-pakistani-cuisine-crafted-from-milk-solids-and-2536754249.jpg"/>
            <h1 class = "menu-card-title">Gulab Jamun</h1>
            <span class="price">&#8377;259</span>
            <input type="hidden" name="item_name" value="Gulab Jamun">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="current_page" value="desserts">
            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </form>

        <form action="{{ url_for('add_to_cart') }}" method="post"
              class="shadow menu-item-card p-4 m-3 text-center">
            <img class="menu-card-image mb-3 w-100"
                 src="https://www.shutterstock.com/shutterstock/photos/2136529687/display_1500/stock-photo-tasty-and-healthy-double-ka-meeta-recipe-2136529687.jpg"/>
            <h1 class = "menu-card-title">Double Ka Meetha</h1>
            <span class="price">&#8377;259</span>   
            <input type="hidden" name="item_name" value="Double Ka Meetha">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="current_page" value="desserts">
            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2346235033/display_1500/stock-photo-closeup-view-of-semiya-payasam-or-kheer-payasam-in-a-golden-bowl-with-flowers-onam-and-vishu-2346235033.jpg"/>
            <h1 class = "menu-card-title">Kheer Payasam</h1>
            <span class="price">&#8377;219</span>
            <input type="hidden" name="item_name" value="Kheer Payasam">
            <input type="hidden" name="item_price" value="219">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="desserts">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2478001475/display_1500/stock-photo-delicious-slice-of-red-velvet-cake-on-white-plate-with-black-background-modern-dessert-2478001475.jpg"/>
            <h1 class = "menu-card-title">Red Velvet Cake</h1>
            <span class="price">&#8377;209</span>
            <input type="hidden" name="item_name" value="Red Velvet Cake">
            <input type="hidden" name="item_price" value="209">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="desserts">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2548364473/display_1500/stock-photo-slice-of-black-forest-cake-german-cuisine-2548364473.jpg"/>
            <h1 class = "menu-card-title">Black Forest</h1>
            <span class="price">&#8377;259</span>
            <input type="hidden" name="item_name" value="Black Forest">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="desserts">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2581752877/display_1500/stock-photo-vanilla-ice-cream-on-a-white-marble-background-2581752877.jpg"/>
            <h1 class = "menu-card-title">Vanilla Ice Cream</h1>
            <span class="price">&#8377;239</span>
            <input type="hidden" name="item_name" value="Vanilla Ice Cream">
            <input type="hidden" name="item_price" value="239">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="desserts">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2445242831/display_1500/stock-photo-strawberry-ice-cream-strawberry-dessert-red-2445242831.jpg"/>
            <h1 class = "menu-card-title">Straw Berry Icecream</h1>
            <span class="price">&#8377;259</span>
            <input type="hidden" name="item_name" value="Straw Berry Icecream">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="desserts">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>        
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2455246769/display_1500/stock-photo-colorful-and-tasty-indian-or-pakistan-kulfi-an-ice-treat-on-a-stick-2455246769.jpg"/>
            <h1 class = "menu-card-title">Kulfi Ice cream</h1>
            <span class="price">&#8377;219</span>
            <input type="hidden" name="item_name" value="Kulfi Ice Cream">
            <input type="hidden" name="item_price" value="219">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="desserts">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>

    </div>

    <div class="pt-4 pb-5">
        <h1>Disclaimer</h1>
        <ul>
            <li>All Prices are set directly by the restaurant</li>
            <li>All nutritional information is indicative values per serve as shared by the restaurant and may vary depending on ingredients and portion size</li>
            <li>An average active adult requires 2,000 kcal energy per day, however calorie needs may vary.</li>
            <li>Dish details may be AI crafted for a better experience.</li>
        </ul>
    </div>
</div>
{% endblock %}
