{% extends "base.html" %}

{% block content %}
<div class="item-bg-container d-flex flex-column">
    <div class="p-4">
        <img src="https://as2.ftcdn.net/jpg/02/82/76/39/1000_F_282763972_xKMyYads8XYGamLEhNGHQOAKT9Eyo9Dc.jpg"
             class="item-fire-fork-logo" />
    </div>

    <p class="item-caption">Because you searched for "Non-Veg Starter"</p>

    <div class="d-flex flex-row flex-wrap justify-content-center">
        <form action="{{ url_for('add_to_cart') }}" method="post"
              class="shadow menu-item-card p-4 m-3 text-center">
            <img class="menu-card-image mb-3 w-100"
                 src="https://www.shutterstock.com/shutterstock/photos/2094211840/display_1500/stock-photo-indian-chicken-tikka-kebabs-marinated-in-spices-and-yogurt-and-roasted-in-tandoor-served-with-2094211840.jpg"/>
            <h1 class = "menu-card-title">Chicken Tikka</h1>
            <span class="price">&#8377;259</span>
            <input type="hidden" name="item_name" value="Chicken Tikka">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </form>

        <form action="{{ url_for('add_to_cart') }}" method="post"
              class="shadow menu-item-card p-4 m-3 text-center">
            <img class="menu-card-image mb-3 w-100"
                 src="https://www.shutterstock.com/shutterstock/photos/699728911/display_1500/stock-photo-indian-cuisine-tasty-and-spicy-mutton-699728911.jpg"/>
            <h1 class = "menu-card-title">Chicken 65</h1>
            <span class="price">&#8377;259</span>   
            <input type="hidden" name="item_name" value="Chicken 65">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2388048833/display_1500/stock-photo-fish-chicken-red-chilli-hot-popular-chinese-dish-ayam-goreng-saus-asam-manis-fried-chicken-with-2388048833.jpg"/>
            <h1 class = "menu-card-title">Chilli Chicken</h1>
            <span class="price">&#8377;219</span>
            <input type="hidden" name="item_name" value="Chilli Chicken">
            <input type="hidden" name="item_price" value="219">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2398411931/display_1500/stock-photo-indian-cuisine-glazed-chicken-leg-lollipop-2398411931.jpg"/>
            <h1 class = "menu-card-title">Chicken Lollipop</h1>
            <span class="price">&#8377;209</span>
            <input type="hidden" name="item_name" value="Chicken Lollipop">
            <input type="hidden" name="item_price" value="209">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/410011153/display_1500/stock-photo-mutton-fry-on-a-plate-on-a-burlap-background-410011153.jpg"/>
            <h1 class = "menu-card-title">Mutton Pepper Fry</h1>
            <span class="price">&#8377;259</span>
            <input type="hidden" name="item_name" value="Mutton Pepper Fry">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2117250335/display_1500/stock-photo-tunde-ke-kabab-also-known-as-buffalo-chicken-or-meat-galouti-kebab-is-a-soft-dish-made-out-of-2117250335.jpg"/>
            <h1 class = "menu-card-title">Mutton Galouti Kebab</h1>
            <span class="price">&#8377;239</span>
            <input type="hidden" name="item_name" value="Mutton Galouti Kebab">
            <input type="hidden" name="item_price" value="239">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2190125067/display_1500/stock-photo-sukha-mutton-or-chicken-dry-spicy-murgh-or-goat-meat-served-in-a-plate-or-bowl-2190125067.jpg"/>
            <h1 class = "menu-card-title">Mutton Sukka (Dry)</h1>
            <span class="price">&#8377;259</span>
            <input type="hidden" name="item_name" value="Mutton Sukka (Dry)">
            <input type="hidden" name="item_price" value="259">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>        
        <form action="{{ url_for('add_to_cart') }}" method="post" class = "shadow menu-item-card p-4 m-3">
            <img class = "menu-card-image mb-3 w-100" src="https://www.shutterstock.com/shutterstock/photos/2247420471/display_1500/stock-photo-delicious-and-crispy-mutton-keema-kola-urundai-as-appatizer-2247420471.jpg"/>
            <h1 class = "menu-card-title">Mutton Kola Urundai</h1>
            <span class="price">&#8377;219</span>
            <input type="hidden" name="item_name" value="Mutton Kola Urundai">
            <input type="hidden" name="item_price" value="219">
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="current_page" value="nonveg_starters">
            <button type = "submit" class="add-to-cart-btn">Add to Cart</button>
        </form>

    </div>

    <div class="pt-4 pb-5">
        <h1>Disclaimer</h1>
        <ul>
            <li>All Prices are set directly by the restaurant</li>
            <li>All nutritional information is indicative values per serve as shared by the restaurant and may vary depending on ingredients and portion size</li>
            <li>An average active adult requires 2,000 kcal energy per day, however calorie needs may vary.</li>
            <li>Dish details may be AI crafted for a better experience.</li>
        </ul>
    </div>
</div>
{% endblock %}
